@keyframes background-shift{
  0%{background-color: #0000cc;}
  17%{background-color: #cc00cc;}
  33%{background-color: #cc0000;}
  50%{background-color: #cccc00;}
  67%{background-color: #00cc00;}
  83%{background-color: #00cccc;}
  100%{background-color: #0000cc;}
}

@keyframes border-shift{
  from{border-color: #eeeeee;}
  to{border-color: black;}
}

body{
  font-size:20px;
  font-weight:bold;
  color:#ffffff;
  animation: background-shift 300s infinite;
}
p{
  margin:0px 10px 30px 10px;
}

div.header, div.content, div.form{
  background-color: rgba(0,0,0,0.8);
  padding: 50px;
}

div.content, div.form{
  border-radius:6px;
  margin: 30px 15px;
}

div.color-box{
  padding:30px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 25px;
}

div.l0{
  height:300px;
}

div.container.bg{
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
}

#blue{
  background-color:blue;
  color:white;
}

#green{
  background-color:green;
  color:white;
}

#gold{
  background-color:#e6bf00;
  color:white;
}

#orange{
  background-color:orange;
  color:white;
}

#white-box{
  color:black;
  background-color:white;
}

#black-box{
  color:white;
  background-color:black;
}

#black-box-red{
  color:red;
  background-color:black;
}

.l1{
  height:500px;
}

.l2{
  height:450px;
}

.l3{
  height:300px;
}

.jumbotron{
  font-weight:bolder;
}

.kicker{
  font-size:30px;
}
