@keyframes background-shift{
  0%{background-color: #0000cc;}
  17%{background-color: #cc00cc;}
  33%{background-color: #cc0000;}
  50%{background-color: #cccc00;}
  67%{background-color: #00cc00;}
  83%{background-color: #00cccc;}
  100%{background-color: #0000cc;}
}


@keyframes border-shift{
  from{border-color: #eeeeee;}
  to{border-color: black;}
}

body{
  font-size:25px;
  font-weight:bold;
  background-color: black;
  color:#ff702e;
  animation: background-shift 300s infinite;
}

div.header, div.content{
  background-color: rgba(0,0,0,0.8);
}

div{
  padding:5px 20px 5px 20px;
  margin:30px;
}

.color-box{
  width:30%;
  height:400px;
  border-style: double;
  border-width: 10px;
}
